<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="bg-blue-100 sticky w-full text-bold  py-5 px-8 flex justify-center">
        <h1>Scatch pvt ltd</h1>
    </footer>
</body>
</html>