<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/products/create" method="post" enctype="multipart/form-data" >
        <input type="file" placeholder="upload image of the product" name="image">
        <input type="Number" placeholder="Enter the price" name="price">
        <input type="text" placeholder="Name" name="name">
        <input type="Number" placeholder="Enter the discount(if any)" name="discount">
        <input type="text"   placeholder="bg-color" name="bgcolor">
        <input type="text" placeholder="panel-color" name="panelcolor">
        <input type="text " placeholder="text color" name="textcolor">
        <button>submit</button>
    </form>
</body>
</html>