*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg{
    height:100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.form{
   
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    
}
.input{
    height: 50px;
    width: 400px;
    padding: 10px;
    background-color: #908e8e;
    border-radius: 8px;
   
}
.btn{
    border-radius: 10px;
    height: 40px;
    width: 60px;
    background-color: rgb(38, 172, 255);
    color: whit;
    align-self: center;
}

.brandname{
    font-size:xx-large;
    transform: scale(1.4);
    font-weight: 800;
    margin-bottom: 3rem;
}